.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.input-container{
  padding:0;
}

small {
  color: red;
}

.inputDiv {
  margin-top:2%;
  margin-bottom: 2%;
}

label{
  text-align:left;
  font-size:1.2em;
}


input {
  padding-left: 5px;
}

p {
  line-height: 0;
  cursor: pointer;
}

button{
  margin-top: 2%;
  margin-bottom: 2%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

@media screen and (max-width: 768px) {
  label{
    width:80%;
    padding-left:5px;
  }

  input {
    width: 80%;
    height:35px;
    font-size:1.1em;
  }

  button{
    width: 30%;
    height: 30px;
  }

  .inputDiv {
    margin-bottom: 4%;
  }
}
