.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

small {
  color: red;
}

.inputDiv {
  margin-bottom: 1%;
}

input {
  width: 20%;
  text-align: center;
}

p {
  line-height: 0;
}

@media screen and (max-width: 600px) {
  input {
    width: 60%;
  }

  .inputDiv {
    margin-bottom: 4%;
  }
}
