<div class="modal fade" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title col-xs-11">Add Book</h5>
          <button type="button" class="close col-xs-1" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body body">
          <div class="col-xs-8">
            <input class="col-xs-12 inputBook" type="text" [(ngModel)]="bookToAdd.title" placeholder="title">
            <input class="col-xs-12 inputBook" type="text" [(ngModel)]="bookToAdd.author" placeholder="author">
            <textarea class="col-xs-12 inputBook" cols="50" rows="4" type="text" [(ngModel)]="bookToAdd.description" placeholder="description"></textarea>
            <input class="col-xs-12 inputBook" type="text" [(ngModel)]="bookToAdd.imageUrl" placeholder="imageUrl">
            <input class="col-xs-12 inputBook" type="text" [(ngModel)]="bookToAdd.qrcode" placeholder="QR-code">
            <select class="col-xs-12" [(ngModel)]="bookToAdd.tag" name="filter">
              <option value="code">Code</option>
              <option value="design">Design</option>
              <option value="copyright">Copyright</option>
              <option value="marketing">Marketing</option>
              <option value="entrepeneurship">Entrepeneurship</option>
            </select>
          </div>
          <div class="col-xs-4">
            <img class="col-xs-12" src="{{bookToAdd.imageUrl}}" alt="">              
          </div>  
        </div>
        <div class="modal-footer">
          <div class="col-xs-12 buttonDiv">
            <button (click)="addBook()" type="button" class="btn save-book-button" data-dismiss="modal">Add book to library</button>
            <button type="button" class="btn close-button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pos-f-t">
    <div class="collapse filter-container" id="filter">
      <div class="bg-dark p-4">
        <h4 class="text-white">Filters</h4>
        <button class="btn filter-choice-button" [ngClass]="{'active-filter': filter=='all'}" (click)="onFilterChange('all')">All Books</button>
        <button class="btn filter-choice-button" [ngClass]="{'active-filter': filter=='code'}" (click)="onFilterChange('code')">Code</button>
        <button class="btn filter-choice-button" [ngClass]="{'active-filter': filter=='design'}" (click)="onFilterChange('design')">Design</button>
        <button class="btn filter-choice-button" [ngClass]="{'active-filter': filter=='marketing'}" (click)="onFilterChange('marketing')">Marketing</button>
        <button class="btn filter-choice-button" [ngClass]="{'active-filter': filter=='copyright'}" (click)="onFilterChange('copyright')">Copyright</button>
        <button class="btn filter-choice-button" [ngClass]="{'active-filter': filter=='entrepeneurship'}" (click)="onFilterChange('entrep')">Entrepeneurship</button>        
      </div>
    </div>
  </div>
  
<div class="col-xs-12">
    <div class="col-xs-12 button-div">
        <button class="btn btn-warning back-button" [routerLink]="['/home']"><</button>
        <button class="btn btn-danger filter-button" type="button" data-toggle="collapse" data-target="#filter" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <img src="../../../../assets/icons/filter.ico" class="filter-button-image">
        </button>
        <button class="btn btn-success add-button" data-toggle="modal" data-target="#modal">+</button>
    </div>
</div>
<div *ngFor="let book of results | async | bookfilter:filter" [routerLink]="['/book', book.id]">
<div class="col-xs-offset-1 col-xs-10 col-sm-5" [ngClass]="{'bookCard': !book.loanedOut, 'bookCardLoaned': book.loanedOut}">
    <div class="col-xs-4 col-sm-3 bookImageDiv">
        <img class="bookImage" src={{book.imageUrl}} alt="image for book">
    </div>
    <h2 class="col-xs-8 col-sm-9">{{book.title}}</h2> 
    <h3 class="col-xs-8 col-sm-9 book-author">{{book.author}}</h3>
    <h3 class="col-xs-8 col-sm-9 book-loaned-wrapper"><span *ngIf="book.loanedBy">Borrowed by </span>{{book.loanedBy}}</h3>
    <div *ngIf="book.tag == 'code'">
      <div class="col-xs-1 col-sm-1 tag code-tag"></div><p class="tag-text">code</p>   
    </div>
    <div *ngIf="book.tag == 'design'">
      <div class="col-xs-1 col-sm-1 tag design-tag"></div><p class="tag-text">design</p>   
    </div>
    <div *ngIf="book.tag == 'marketing'">
      <div class="col-xs-1 col-sm-1 tag marketing-tag"></div><p class="tag-text">marketing</p>   
    </div>
    <div *ngIf="book.tag == 'copyright'">
      <div class="col-xs-1 col-sm-1 tag copyright-tag"></div><p class="tag-text">copyright</p>   
    </div>
    <div *ngIf="book.tag == 'entrep'">
      <div class="col-xs-1 col-sm-1 tag entrep-tag"></div><p class="tag-text">entrepeneurship</p>   
    </div>
</div>
</div>
