.bookCard {
  background-color: #FAFAFA;
  padding: 0;
  margin-bottom: 2%;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.book-author {
  font-style: italic;
}

.bookImageDiv {
  padding: 0;
}

.buttonDiv {
  margin-top: 2%;
}

img {
  width: 100%;
}

.title {
  margin-top: 0;
}

.button-all {
  background-color: transparent;
  border: 2px solid #999;
  float:right;

  &:focus {
    outline: none;
  }
}

.borrowed-span {
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 15px;
  color: white;
  font-size: 0.8em;
  padding: 4px 8px 4px 8px;
}

.available-span {
  background-color: rgba(0, 145, 0, 0.6);
  border-radius: 15px;
  color: white;
  font-size: 0.8em;
  padding: 4px 8px 4px 8px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.2em;
    font-weight: bold;
  }

  .description {
    line-height: 22px;
  }

  h2 {
    margin-top: 0;
    font-size: 1.1em;
  }

  h4 {
    font-size: 1.1em;
  }

  .borrowed-span-wrapper {
    margin-top: 5%;
  }

  .available-span-wrapper {
    margin-top: 5%;
  }

  .title {
    margin-top: 2%;
  }

  .description {
    font-size: 1em;
  }

  .bookImage {
    height: 150px;
  }

  .buttonDiv {
    margin-top: 5%;
  }
}
