.buttonContainer{
    margin-top:5%;
}

.buttonWrapper{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #FAFAFA;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    img{
        width: 50%;
    }
}