<div class="centered col-xs-12">
  <div class="col-xs-12 col-sm-6 buttonContainer">
    <div class="col-xs-offset-3 col-xs-6 buttonWrapper" [routerLink]="['/app-booklist-component']">
      <img src="../../../assets/icons/booklist.png" alt="booklist">
      <h3>Booklist</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 buttonContainer">
    <div class="col-xs-offset-3 col-xs-6 buttonWrapper" [routerLink]="['/app-bookloanQR-component']">
      <img src="../../../assets/icons/barcode.png" alt="barcode">
      <h3>Loan book</h3>
    </div>
  </div>
</div>
